[Unit]
Description=The Stranger Family script
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/python /home/mike/StrangerFamily/stranger_family.py

[Install]
WantedBy=multi-user.target
