[Unit]
Description=The Stranger Family script
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pyStranger/stranger_family.py

[Install]
WantedBy=sysinit.target
